.signup-input {
    border: 2px solid #E5E3E3;
   box-sizing: border-box;
   height: 40px;
   display: block;
   width: 90%;
   margin: 25px auto;
   padding: 5px;
   color: rgba(56, 80, 114, 0.8);
   border-radius: 4px; 
   font-size: 14px;
}