button:focus {
    outline: none;
}
.landing-page-button {
    color: #1953DE;
    background: #fff;
    border:none;
    border-radius: 4px;
    padding: 5px 10px;
    margin-top: 10px;
}

.landing-page-button:hover {
    color: #fff;
    background:  #1953DE;
    border: 1px solid #fff;
}

.sign-up-button {
    width: 90%;
   padding: 5px;
   box-sizing: border-box;
   border: none;
   background: #1953DE;
   border-radius: 9px;
   height: 44px;
   color: #fff;
   font-size: 1em;
   margin: 10px 0;
}
.sign-up-button:hover {
   background: #FFF;
   border-radius: 9px;
   border: 1px solid #1953DE;
   height: 44px;
   color: #1953DE;
   font-size: 1em;
   margin: 10px 0;
}

.dashboard-summary {
   padding: 10px 5px;
   box-sizing: border-box;
   border: none;
   background: #000;
   border-radius: 5px;
   height: 44px;
   color: #fff;
   font-size: 14px;
   float: right;
   margin: 15px 0;
}

.user-table {
    border: none;
    color: #fff;
    background: #000;
    border-radius: 5px;
    font-size: 14px;
    padding: 8px;
    margin: 0 5px 0 0;
}