.landing-page {
    background: #1953DE;
    color: #fff;
    height: 91.5vh;
}

.landing-caption {
    margin-top: 70px;
}

.landing-caption h1 {
    font-size: 50px;
    font-weight: bold;
}

.landing-caption p {
    font-size: 18px;
    line-height: 1.9;
}
